AutoFareSystem1/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStudentInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentFares">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStudentFaresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStudentFaresResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdministratorInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdministratorInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdministratorInformationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStudentInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentInformation" />
  </wsdl:message>
  <wsdl:message name="GetStudentInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetStudentFaresSoapIn">
    <wsdl:part name="parameters" element="tns:GetStudentFares" />
  </wsdl:message>
  <wsdl:message name="GetStudentFaresSoapOut">
    <wsdl:part name="parameters" element="tns:GetStudentFaresResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdministratorInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdministratorInformation" />
  </wsdl:message>
  <wsdl:message name="GetAdministratorInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdministratorInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetStudentInformation">
      <wsdl:input message="tns:GetStudentInformationSoapIn" />
      <wsdl:output message="tns:GetStudentInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentFares">
      <wsdl:input message="tns:GetStudentFaresSoapIn" />
      <wsdl:output message="tns:GetStudentFaresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdministratorInformation">
      <wsdl:input message="tns:GetAdministratorInformationSoapIn" />
      <wsdl:output message="tns:GetAdministratorInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentInformation">
      <soap:operation soapAction="http://tempuri.org/GetStudentInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentFares">
      <soap:operation soapAction="http://tempuri.org/GetStudentFares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdministratorInformation">
      <soap:operation soapAction="http://tempuri.org/GetAdministratorInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentInformation">
      <soap12:operation soapAction="http://tempuri.org/GetStudentInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentFares">
      <soap12:operation soapAction="http://tempuri.org/GetStudentFares" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdministratorInformation">
      <soap12:operation soapAction="http://tempuri.org/GetAdministratorInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://10.133.164.7/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://10.133.164.7/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>